*,
*::after,
*::before {
  margin: 0;
  padding: 0;  
  box-sizing: inherit;
}

html {
  /*
    This defines what 1rem is
    font-size: 10px;  10px to make the calculation easier. X px/10, 30px/10 = 3rem
    10/16 = 62.5 
  */
  font-size: 62.5%; 
}

body {
  box-sizing: border-box;
}