@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin gradient-text {
  display: inline-block;  
  color: $color-primary;

  @supports (background-clip: text) or (-webkit-background-clip: text) { // because of IE
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

@mixin center-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


// media query manager

/*
0 - 600px        Phone
600px - 900px    Tablet portrait
900px - 1200px   Tablet landscape
1200px - 1800px  Normal style
1800px +         Big desktop

  $breakpoint argument choices:
  - phone
  - tab-port
  - tab-land
  - big-desktop

  Order: base + typography > general layout + grid > page layout > components

  1em = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {//600px
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {//900px
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {//1200px
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {//1800px
      @content;
    }
  }
}